{% extends "base.html" %}
{% block topbar %}
<span class="top-bar-right ml-4 mt-2">
</span>
{% endblock %}
{% block content %}
<div class="container-fluid model-list">
  <div class="wizard-page">
    <div class="wizard-nav">
      <div class="wizard-nav-btns">
        <button id="back-btn" class="btn btn-primary">Back</button>
        <button id="next-btn" class="btn btn-primary">Next</button>
      </div>
    </div>
    <div id="anchor" class="inner-wizard">
    </div>
  </div>
</div>
{% endblock %}
{% block additionalScripts %}
<script src="/js/triptychHelpers.js"></script>
<script src="/js/wizard.js"></script>
{% endblock %}
