<div class="editor-holder">
  <input type="color" name="background-color-picker"><label for="background-color-picker">Background Color</label>
  <div class="category-selector">
    <input type="radio" name="post-category" value="announcement" checked>
    <label for="post-category">Announcement</label>
    <input type="radio" name="post-category" value="promo">
    <label for="post-category">Promo</label>
    <input type="radio" name="post-category" value="notice">
    <label for="post-category">Notice</label>
  </div>
  <div class="layout-options">
  </div>
  <div class="triptych-images">
    <img src="https://upload.wikimedia.org/wikipedia/commons/d/de/Aspect-ratio-4x3.svg" crossorigin="anonymous"> 
  </div>
  <input type="color" name="text-color-picker"><label for="text-color-picker">Text Color</label>
  <input type="text" class="triptych-text" placeholder="enter text">
  <div>
    <canvas id="triptych-edit" width="768" height="270">
    </canvas>
  </div>
  <button class="choose-image">Choose This</button>
</div>
<style>
  .triptych-images {
    display: none;
  }
  #triptych-edit {
    border: 1px solid black;
  }
</style>
<script>
  let postTypes = {
    announcement: {
      layouts: [
        {
          hasImage: true,
          imagePosition: [10, 10, 160, 120],
          textPosition: [30, 100],
          textMaxWidth: 400,
          textSize: 36,
        },
        {
          hasImage: false,
          textPosition: [30, 100],
          textMaxWidth: 400,
          textSize: 48,
        },
      ]
    },
    promo: {
      layouts: [
        {
          hasImage: true,
          imagePosition: [10, 10, 160, 120],
          textPosition: [0, 0],
          textSize: '14px',
        },
        {
          hasImage: false,
          textPosition: [0, 0],
          textSize: '20px',
        },
      ]
    },
    notice: {
      layouts: [
        {
          hasImage: true,
          imagePosition: [10, 10, 160, 120],
          textPosition: [0, 0],
          textSize: '14px',
        },
        {
          hasImage: false,
          textPosition: [0, 0],
          textSize: '20px',
        },
      ]
    },
  };

  let backgroundColor = 'white';
  let selectedCategory = 'announcement';
  let selectedLayout = 0;
  let addingText = false;
  let triptych = document.querySelector('#triptych-edit');
  let ctx = triptych.getContext('2d');

  function renderTriptych(e) {
    let image = document.querySelector('.triptych-images img');
    ctx.clearRect(0, 0, triptych.width, triptych.height);
    ctx.fillStyle = e ? e.target.value : backgroundColor;
    backgroundColor = ctx.fillStyle;
    ctx.fillRect(0, 0, triptych.width, triptych.height);
    let layout = postTypes[selectedCategory].layouts[selectedLayout];
    if (layout.hasImage) {
      ctx.drawImage(image, 0, 0, image.width, image.height, ...layout.imagePosition);
    }
  }
  
  function renderOptions(ratio) {
    document.querySelector('.layout-options').innerHTML = postTypes[
      ratio
    ].layouts
      .map(
        (layout, i) =>
          `
        <input type="radio" name="triptych-options" value="${i}" ${
            i === 0 ? 'checked' : ''
          }>
        <label for="option${i}">${i}</label>
        `,
      )
      .join('');
  }
  
  function getImageFromCanvas() {
    let triptych = document.querySelector('#triptych-edit');
    let src = triptych.toDataURL('img/jpeg');
    let newImg = document.createElement('img');
    newImg.src = src;
    document.querySelector('.editor-holder').appendChild(newImg);
  }
  
  function changeCategory(e) {
    let triptych = document.querySelector('#triptych-edit');
    let vals = postTypes[e.target.value];
    selectedCategory = e.target.value;
    ctx.clearRect(0, 0, triptych.width, triptych.height);
    ctx.fillStyle = backgroundColor;
    ctx.fillRect(0, 0, triptych.width, triptych.height);
    renderOptions(selectedCategory);
    selectedLayout = 0;
    renderTriptych();
  }
  
  function chooseTriptych(e) {
    selectedLayout = Number(e.target.value);
    renderTriptych();
  }
  
  function handleCanvasText(e) {
    renderTriptych();
    let textColor = document.querySelector('[name=text-color-picker]').value;
    let layout = postTypes[selectedCategory].layouts[selectedLayout];
    ctx.font = `${layout.textSize}px Arial`;
    ctx.fillStyle = textColor;
    let textWidth = ctx.measureText(e.target.value).width;
    if (textWidth > layout.textMaxWidth) {
      let words = e.target.value.split(' ');
      let lines = [];
      let currentLine = '';
      for (let word of words) {
        if (ctx.measureText(currentLine + word).width < layout.textMaxWidth) {
          currentLine += word + ' ';
        } else {
          lines.push(currentLine);
          currentLine = word;
        }
      }
      lines.push(currentLine);
      for (let i = 0; i < lines.length; i++) {
        ctx.fillText(lines[i], layout.textPosition[0], layout.textPosition[1] + layout.textSize * i, layout.textMaxWidth);
      }
    } else {
      ctx.fillText(e.target.value, layout.textPosition[0], layout.textPosition[1], layout.textMaxWidth);
    }
    ctx.fillStyle = backgroundColor;
  }
  
  renderOptions(selectedCategory);
  renderTriptych();
  
  document.querySelector('.choose-image').onclick = getImageFromCanvas;
  document.querySelector('[name=background-color-picker]').oninput = renderTriptych;
  document.querySelector('.category-selector').onchange = changeCategory;
  document.querySelector('.layout-options').onchange = chooseTriptych;
  document.querySelector('.triptych-text').oninput = handleCanvasText;
</script>
