<div class="editor-holder">
  <div class="triptych-images">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Aspect_ratio_-_4x3.svg/800px-Aspect_ratio_-_4x3.svg.png" crossorigin="anonymous"> 
  </div>
  <canvas id="triptych-edit" width="768" height="270">
  </canvas>
  <input type="color" name="color-picker"><label for="color-picker">Background Color</label>
  <button class="choose-image">Choose This</button>
</div>
<style>
  .triptych-images {
    display: none;
  }
</style>
<script>
  let backgroundColor = 'black';

  function renderTriptych(e) {
    let images = document.querySelectorAll('.triptych-images img');
    let triptych = document.querySelector('#triptych-edit');
    let height = triptych.height / 2;
    let width = triptych.width / 2;
    let ctx = triptych.getContext('2d');
    ctx.fillStyle = e ? e.target.value : backgroundColor;
    backgroundColor = ctx.fillStyle;
    ctx.fillRect(0, 0, 768, 270);
    images.forEach(img => {
      ctx.drawImage(img, 0, 0, img.width, img.height, 0, 0, 180, 135);
    });
  }

  function getImageFromCanvas() {
    let triptych = document.querySelector('#triptych-edit');
    let src = triptych.toDataURL('img/jpeg');  
    let newImg = document.createElement('img');
    newImg.src = src;
    document.querySelector('.editor-holder').appendChild(newImg);
  }
  renderTriptych();
  document.querySelector('.choose-image').onclick = getImageFromCanvas;
  document.querySelector('[name=color-picker]').oninput = renderTriptych
</script>
