/* reset */
/* main variables */
html { font-size: 16px !important; }

body { margin: 0px; padding: 0px; font-family: "Roboto Condensed", sans-serif; background: #fff; /*height: 100%;*/ color: #3F536D; line-height: 1.5; position: relative; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-width: 0px; padding: 0px; margin: 0px; }

html { height: 100%; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }

input, textarea { color: #333; font-family: "Roboto Condensed", sans-serif; outline: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; }

input[type="button"], input[type="submit"], button { cursor: pointer; }

td { margin: 0px; padding: 0px; }

form { padding: 0px; margin: 0px; }

a { color: #FF8E00; -webkit-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; text-decoration: none; outline: none; -webkit-tap-highlight-color: transparent; }

a:hover { color: #524FA1; }

a, span, div, button { outline: none !important; }

img { vertical-align: middle; max-width: 100%; }

input[type=submit], input[type=button], button { -webkit-appearance: none; outline: none; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }

*:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after, .wrapper:after, .row:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.header { width: 100%; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; -webkit-order: 1; position: fixed; left: 0; right: 0; z-index: 50; top: 0; width: 100%; height: 70px; -webkit-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; padding: 20px 0 16px; font-family: "Roboto Condensed", sans-serif; }

.header .wrapper { padding: 0 20px; }

.header:before { -webkit-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; content: ''; position: absolute; z-index: 0; left: 0; right: 0; top: 0; background: #ECEEF1; height: 100%; }

.header.fix:before { height: 100%; }

.hid { overflow: hidden; }

.header_right { float: right; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; }

.header_logo { overflow: hidden; float: left; width: 175px; height: 53px; line-height: 0; position: relative; z-index: 30; -webkit-transition: all 0s linear; -o-transition: all 0s linear; transition: all 0s linear; }

.header_logo img { height: 100%; max-width: 9999px; }

.header_btn .btn { width: 120px; display: block; height: 30px; padding: 0; line-height: 28px; letter-spacing: 0.444445px; font-size: 16px; }

.header_login { margin-left: 20px; }

.header_login_link img { width: 30px; }

/* */
@media screen and (max-width: 767px) { .header_logo { height: 32px; width: 33px; margin: -1px 0 0 0px; }
  .header_logo img { height: 46px; } }

.footer { position: relative; width: 100%; min-width: 320px; -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; -webkit-order: 3; padding: 0px 0 53px; z-index: 10; color: #fff; background: #47546C; }

.footer_list { margin: 39px 0 46px; }

.footer_list li { list-style: none; font-size: 16px; line-height: 25px; margin: 3px 0 0; }

.footer_list li a { font-weight: 300; color: #FFFFFF; position: relative; }

.footer_list li a:after { content: ''; background: #fff; position: absolute; width: 0; top: 20px; left: 0; -webkit-transition: .3s; -o-transition: .3s; transition: .3s; height: 1px; }

.footer_list li a:hover:after { width: 100%; }

.footer_cols { border-top: 1px solid rgba(255, 255, 255, 0.4); padding-top: 42px; }

.footer_cols-logo { margin: 0 -20px; }

.footer_logo { display: inline-block; height: 40px; margin: 0 13px; vertical-align: middle; }

.footer_copy { margin-top: 19px; padding-top: 13px; border-top: 1px solid rgba(255, 255, 255, 0.4); font-size: 12px; line-height: 16px; text-align: center; color: #FFFFFF; }

.footer_copy a { color: #fff; border-bottom: 1px solid #fff; line-height: 0.9; display: inline-block; vertical-align: middle; }

.footer_copy a:hover { border-color: transparent; }

.soc_item { display: inline-block; vertical-align: middle; margin: 0 3px; }

.soc_item:hover { opacity: 0.8; }

@media screen and (max-width: 768px) { .footer { text-align: center; }
  .footer .wrapper { padding: 0 28px; } }

.main-wrapper { padding: 0 0 0 0; min-width: 320px; width: 100%; position: relative; overflow: hidden; min-height: 100%; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; -webkit-flex-direction: column; -ms-flex-direction: column; -webkit-box-pack: start; justify-content: flex-start; -webkit-justify-content: flex-start; -ms-flex-pack: start; }

.wrapper { min-width: 320px; max-width: 1160px; padding: 0 27px; margin: 0 auto; position: relative; z-index: 2; width: 100%; }

/* titles */
p { padding: 10px 0 10px 0; }

h1, .h1 { font-size: 60px; line-height: 1.09; color: inherit; padding: 10px 0 10px 0; letter-spacing: -1px; text-transform: uppercase; font-weight: bold; }

h1 span, .h1 span { color: #FF8E00; display: inline-block; }

h2, .h2 { font-size: 46px; line-height: 1.27; color: inherit; padding: 10px 0 10px 0; text-transform: uppercase; font-weight: bold; }

h3, .h3 { font-size: 28px; line-height: 1.25; color: inherit; padding: 10px 0 10px 0; font-weight: 400; }

h4, .h4 { font-size: 22px; line-height: 1.25; color: inherit; padding: 10px 0 10px 0; position: relative; font-weight: 400; }

/* text position */
.text-left { text-align: left !important; }

.text-center { text-align: center !important; }

.text-right { text-align: right !important; }

.nowrap { white-space: nowrap !important; }

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content { min-width: 320px; width: 100%; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; -webkit-order: 2; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -webkit-flex-grow: 1; }

body.hid { overflow: hidden; }

.m-hid, .t-show { display: none; }

.d-show { display: none; }

/* */
form:after { content: ''; display: block; clear: both; }

.btn { font-family: "Roboto Condensed", sans-serif; -webkit-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; display: inline-block; border: 1.67px solid #FF8E00; position: relative; z-index: 1; overflow: hidden; text-decoration: none; -webkit-box-shadow: none; box-shadow: none; -webkit-backface-visibility: hidden; backface-visibility: hidden; -moz-osx-font-smoothing: grayscale; text-align: center; font-size: 23px; height: 51px; text-transform: uppercase; font-weight: 400; line-height: 29px; padding: 9.33px 15px; color: #fff; -webkit-border-radius: 3px; border-radius: 3px; background: #FF8E00; }

.btn:hover { color: #fff; background: #b3bac4; border-color: #b3bac4; }

.btn-bord { background: transparent; color: #FF8E00; }

.btn-bord:hover { background: #FF8E00; border-color: #FF8E00; color: #fff; }

.btn-dark { background: #47546C; border-color: #47546C; }

.btn-dark:hover { background: #b3bac4; border-color: #b3bac4; }

.btn-bord-dark { background: transparent; border-color: #47546C; color: #47546C; }

.btn-bord-dark:hover { background: #47546C; border-color: #47546C; color: #fff; }

.btn-bord-wh { background: transparent; border-color: #fff; color: #fff; }

.btn-bord-wh:hover { background: #fff; border-color: #fff; color: #47546C; }

.form_row { margin-bottom: 21px; position: relative; }

.form_row:after { content: ''; display: block; clear: both; }

.form_btn { margin-top: 54px; }

.form-control { position: relative; min-width: 30px; padding: 7px 0rem 8px 0rem; -o-text-overflow: ellipsis; text-overflow: ellipsis; overflow: hidden; display: block; width: 100%; height: 40px; font-size: 18px; color: #fff; font-weight: 500; line-height: 24px; font-family: "Roboto Condensed", sans-serif; background: transparent; border: none; border-bottom: 1px solid rgba(255, 255, 255, 0.3); -webkit-box-shadow: none; box-shadow: none; -webkit-border-radius: 0; border-radius: 0; }

.form-control:focus { border-bottom: 1px solid white; }

.form-control.error { border-bottom: 1px solid red; }

input::-webkit-input-placeholder { font-weight: 300; color: #fff; }

input:-moz-placeholder { font-weight: 300; color: #fff; }

input::-moz-placeholder { font-weight: 300; color: #fff; }

input:-ms-input-placeholder { font-weight: 300; color: #fff; }

/*---------------------------------------*/
.m-hid { display: none; }

.d-show { display: none; }

.js-bg { -webkit-background-size: cover; background-size: cover; background-position: top; }

/* */
.section-main { padding: 87px 0 30px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; position: relative; background: url(../img/bg1_mob.jpg) no-repeat top #fff; -webkit-background-size: cover; background-size: cover; overflow: hidden; }

.section-main .wrapper { min-height: 20%; }

.main { text-align: left; }

.main_btn .btn { font-size: 28px; width: 320px; height: 60px; max-width: 100%; padding: 0px 21px 0 27px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.main_btn .btn img { width: 41px; height: 13px; }

.main_txt { margin: 5px 0 21px; font-size: 28px; line-height: 1.45; max-width: 475px; }

/* */
.section-piqs { color: #fff; background: #47546C; text-align: center; padding: 60px 0 9px; }

.piqs_item { margin-bottom: 51px; }

.piqs_item_icon { width: 120px; margin: 0 auto; }

.piqs_item_txt { font-size: 24px; margin: 21px auto 0; line-height: 1.35; }

/* */
.section-how { text-align: center; padding: 57px 0 14px; background: #F8F9FA; }

.sec_txt { font-size: 24px; line-height: 36px; text-align: center; margin: 0px 0 25px; }

.sec_txt p { padding-top: 5px; padding-bottom: 31px; }

.how_item { margin-bottom: 61px; }

.how_item_img { width: 170px; height: 140px; margin: 0 auto; }

.how_item_txt { font-size: 22px; margin: 27px auto 0; line-height: 32px; }

/* */
.business_txt { margin: 10px 0 39px; font-size: 24px; line-height: 36px; }

.business_img { height: 350px; margin: 33px -58px 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; max-width: 9999px; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.business_img img { height: 100%; max-width: 9999px; }

.business .btn { width: 267px; }

.business_bg { padding: 47px 0 60px; }

.business_bg1 { background: #FFFFFF; }

.business_bg1 .business_img { height: 330px; }

.business_bg2 { background: #FFF5EB; padding: 50px 0 70px; }

.business_bg3 { background: #F8F9FA; padding: 50px 0 70px; }

.business_bg4 { background: #FFFFFF; padding: 49px 0 60px; }

.business_bg4 .business_img { height: 374px; }

.nobr { white-space: nowrap; }

/* */
.section-bottom { background: #47546C; color: #fff; text-align: center; padding: 50px 0 25px; }

.section-bottom .btn { width: 267px; margin-top: 9px; }

.section-bottom .sec_txt { margin: 5px auto 25px; max-width: 670px; }

/*---------------------------------------*/
@media screen and (max-width: 767px) { .section-main { text-align: center; -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; }
  .section-business { text-align: center; } }

@media screen and (min-width: 600px) { .section-piqs { padding: 81px 0 22px; }
  .piqs { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; margin: 0 -5px; }
  .piqs_item { width: 50%; }
  .piqs_item_icon { height: 83px; }
  .piqs_item_txt { margin: 17px auto 0; padding: 0 5px; } }

@media screen and (max-width: 374px) { .wrapper { padding: 0 15px; }
  h1, .h1 { font-size: 58px; }
  h2, .h2 { font-size: 42px; }
  .business_txt { font-size: 22px; line-height: 34px; }
  .business_img { height: 300px; }
  .business_bg1 .business_img { height: 290px; }
  .business_bg4 .business_img { height: 320px; }
  .sec_txt { font-size: 22px; line-height: 34px; }
  .footer_logo { margin: 0 0px; } }

/* */

/*# sourceMappingURL=style.css.map */
