{% extends "base.html" %}
{% block topbar %}
<span class="top-bar-right mt-2 with-links hidable-top-bar">
</span>
{% endblock %}
{% block content %}
<style>
#content-wrapper span { color: #000 }
.id,.version { font-family: monospace }
.edit { color: #999; cursor: pointer }
.last { text-align: right }
em { color: #555 }
.table td {padding: .75rem .2rem; }
td.edit { white-space: nowrap; }
.modal-body span {
  min-width: 5rem; 
  display: inline-block;
  vertical-align: top;
}
.edit:hover { color: #000 }
#notice { position: absolute; top:0; left:0; width: 100%; z-index: 100;display:none}
.editor {
  display: none;
}
.show {
  display: block;
}
.editor {
  display: none;
}
#schedule {
  height: 340px;
}
.center {
  text-align: center;
}
.budget {
  width: 11rem;
}
#content-wrapper span { color: #000 }
#image-upload { display: none }
.id,.version { font-family: monospace }
.edit { color: #999; cursor: pointer }
.last { text-align: right }
em { color: #555 }
.table td {padding: .75rem .2rem; }
td.edit { white-space: nowrap; }
.modal-body span {
  min-width: 5rem; 
  display: inline-block;
  vertical-align: top;
}
.edit:hover { color: #000 }
#notice { position: absolute; top:0; left:0; width: 100%; z-index: 100;display:none}
.editor {
  display: none;
}
.show {
  display: block;
}
#schedule {
  height: 340px;
}
.remove-asset {
  position:absolute;
  right:0;
  z-index:1
}
#engine { overflow: hidden; background: black }

.screen {
  background: black;
  text-align: center;
  position: relative;
}
.screen .bg {
  width: 100%;
}
.preview-holder {
  width: 100%;
}
 .controls { 
   padding: 10px;
   background: #334;
   padding-bottom: 3px;
   margin-bottom: 1.5rem;
   border-radius: 0 0 6px 6px;
 }
 .asset-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
</style>
<div class="container-fluid">
  <div id="campaign-preview">
  </div>
  <div class="d-flex justify-content-between">
    <div class="d-flex justify-content-between campaign-show-sub mt-3">
      <div class="advert-holder">
        <div class="campaign-show-title"></div>
      </div>
      <div class="advert-holder">
        <div class="advert-a"><!--Advert-A--></div>
      </div>
      <div class="advert-holder">
        <div class="advert-b"><!--Advert-B--></div>
      </div>
    </div>
    <div class="sub-users mt-3">
      <img src="assets/share-alt.svg" data-toggle="modal" data-target="#share-modal" id="share-icon">
    </div>
  </div>

  <div class="modal fade" id="share-modal" tabindex="-1" role="dialog" aria-labelledby="share-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Share This Campaign</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="campaign-url"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Add Password Protection</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block additionalScripts %}
  <script src="/js/sharedLogic.js"></script>
  <script src="/js/noticeShow.js"></script>
{% endblock %}
